
@{
	ViewBag.Title = "Edit";
}

@model StudentsInformation.Models.Student
<h2>Edit</h2>
<div>
	<form action="" method="post">
		<input type="text" name="Name" class="form-control" placeholder="Jasun">
		
		<input type="date" name="DOB" class="form-control" placeholder="10-12-1998..">
	
		<input type="text" name="Credit" class="form-control" placeholder="101">
		
		<input type="text" name="CGPA" class="form-control" placeholder="3.74" />
		
		<input type="text" name="Dept_id" class="form-control" placeholder="101" />
	
		<input type="submit" class="btn btn-block" value="Add" />
	</form>
</div>